<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * LICENSE: GPL v3 
 * 
 * Copyright (c) 2013 by
 * Daniel Friedrich <friedrda@dhbw-loerrach.de>
 * Simon Riedinger <riedings@dhbw-loerrach.de>
 * Patrick Strittmatter <strittpa@dhbw-loerrach.de> 
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3.0 as published by
 * the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dhbw.organizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_calendar_main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
         /**
         *	MAIN VIEW
         *  @author : riedings
         *
         */
        -->
        <activity
            android:name="de.dhbw.organizer.startpage.Startpage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        /**
         *	CALENDAR Modul,
         *  @author : friedrda riedings
         *  syncronyses subscribed ical files, 
         *  imports them into the Calendar and also shows the in a list view
         *
         */
        -->
        <!-- CALENDAR BACKEND -->
        <service
            android:name="de.dhbw.organizer.calendar.backend.authenticator.AuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="de.dhbw.organizer.calendar.backend.syncadapter.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="de.dhbw.organizer.calendar.backend.activity.AuthenticatorActivityTabed"
            android:configChanges="orientation"
            android:excludeFromRecents="false"
            android:label="@string/calendar_backend_account_label" >
        </activity>
        <!-- CALENDAR FRONTEND -->
        <activity
            android:name="de.dhbw.organizer.calendar.frontend.Vorlesungsplan"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>